<template>
  <section class="dropdown-wrapper">
    <div
      class="selected-item d-flex align-center justify-space-between"
      @click="isVisible = !isVisible"
    >
      <span
        v-if="!!modelValue"
        class="item-value"
      >{{ modelValue }}</span>
      <span v-else>Select Element</span>
    </div>
    <div
      v-if="isVisible"
      class="dropdown-popover"
    >
      <div class="dropdown-options">
        <ul>
          <li
            v-for="(item, index) in dropdownItems"
            :key="`item-${index}`"
            class="normal-14 color-gray-warm"
            @click="selectItem(item)"
          >
            {{ item[itemText] }}
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'CustomSelect',
  model: {
    event: 'change'
  },
  props: {
    modelValue: {
      type: [Number, String, Object, null],
      default: null,
    },
    items: {
      type: Array,
      required: true,
      default: () => [],
    },
    itemText: {
      type: String,
      default: 'name',
    },
    itemValue: {
      type: String,
      default: 'value',
    },
  },
  data() {
    return {
      selectedItem: null,
      isVisible: false,
    };
  },
  computed: {
    dropdownItems() {
      return this.items;
    },
  },
  mounted() {
    document.addEventListener('click', this.handleClickOutside);
  },
  unmounted() {
    document.removeEventListener('click', this.handleClickOutside);
  },
  methods: {
    handleClickOutside(event) {
      if (!this.$el.contains(event.target)) {
        this.isVisible = false;
      }
    },
    selectItem(item) {
      this.$emit('change');
      this.$emit('update:modelValue', item[this.itemValue]);
      this.isVisible = false;
    },
  },
};
</script>

<style lang="scss">
.dropdown {
  &-wrapper {
    width: 100%;
    position: relative;
    background-color: #fff;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 1%;
      width: 24px;
      height: 24px;
      background-image: url('~@/assets/images/arrow-down.svg');
      background-position: center center;
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }

    .selected-item {
      height: 40px;
      border: 0.5px solid #DAE0E4;
      border-radius: 5px;
      padding: 5px 20px;

      span {
        &.item-value {
          font-size: 14px;
          font-weight: 500;
          line-height: 17px;
          text-align: left;
          color: #323E48;
        }
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.1px;
          color: #DAE0E4;
      }
    }
  }

  &-popover {
    z-index: 55;
    width: 100%;
    position: absolute;
    border: 1px solid #DAE0E4;
    border-top: none;
    top: 90%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
  }

  &-options {
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    ul {
      li {
        padding: 10px 20px;
        &:hover {
          background-color: rgba(0,0,0,.07);
          cursor: pointer;
        }
      }
    }
  }
} 
</style>
