<template>
  <div class="finish-wrapper">
    <h2>{{ correctAnswerCount }}/{{ getTestCount }}</h2>
    <h2>{{ finishText }}</h2>
    <div class="button-wrapper mt-15">
      <button type="button" class="btn btn-primary" @click="goHome">Go Home</button>
      <button type="button" class="btn btn-primary" @click="tryAgain">Try again</button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: 'FinishSurvey',
  data() {
    return {
      correctAnswerCount: +localStorage.getItem('correctAnswerCount') || 0,
      success: 'Good Job!',
      fail: 'Too bad :( Try again?',
      finishText: '',
    };
  },
  methods: {
    tryAgain() {
      this.$router.push({ name: 'SurverView'})
    },
    goHome() {
      this.$router.push({ name: 'Workspace' })
    },
  },
  computed: {
    ...mapGetters(['getTestCount']),
  },
  mounted() {
    this.finishText = this.correctAnswerCount >= 10 ? this.success : this.fail;
  },
  beforeUnmount() {
    localStorage.removeItem('correctAnswerCount');
    localStorage.removeItem('currentQuestionIndex');
  }
}
</script>

<style scoped lang="scss">
.finish-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
h2 {
  text-align: center;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;

  button[type="button"] {
    width: 150px;
  }
}
</style>