<template>
  <h2>Login</h2>
  <form class="form" @submit.prevent="login">
    <label class="form__item">
      Phone
      <input type="text" v-model="loginObject.phone" required placeholder="99890000000">
    </label>
    <label class="form__item">
      Password
      <input type="password" ref="password" v-model="loginObject.password" required placeholder="Password">
      <CheckBox label="Show password" v-model="showPassword" @change="toggleShow(showPassword, 'password')" />
    </label>
    <div class="form__buttons">
      <button type="button" class="btn btn-primary" @click="$router.push({ name: 'Register' })">Go Registration Page</button>
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import CheckBox from "@/components/CheckboxButton/CheckboxButton.vue";

export default {
  name: 'LoginView',
  components: {
    CheckBox,
  },
  data() {
    return {
      showPassword: false,
      loginObject: {
        phone: '',
        password: '',
      }
    };
  },
  methods: {
    ...mapActions(['userLogin']),
    toggleShow(value, currentRef) {
      if (value) {
        this.$refs[currentRef].type = 'text';
      } else {
        this.$refs[currentRef].type = 'password';
      }
    },
    login() {
      if (!this.isFormFilled) {
        alert("Please fill the form!!!");
        return;
      }
      const user = this.getUsers.find((item) => {
        if (item.phone === this.loginObject.phone && item.password === this.loginObject.password) {
          return item;
        }
      });
      if (user) {
        this.userLogin(user);
        this.$router.push({ name: 'Workspace' });
      } else {
        alert("Wrong phone or password!!!");
      }
    }
  },
  computed: {
    ...mapGetters([
      'getUsers',
    ]),
    isFormFilled() {
      return Object.values(this.loginObject).every((item) => !!item === true);
    },
  }
}
</script>

<style lang="scss" scoped>
h2 {
  text-align: center;
}

.form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
}
</style>