<template>
  <div class="mb-10">
    <button type="button" class="btn btn-primary" @click="$router.go(-1)">Go Back</button>
  </div>
  <label>
    Select Question Type
    <dropdown-component
      v-model="questionType"
      :items="items"
    />
  </label>
  <form v-show="questionType === 'input-question'" class="mt-15 questions-wrapper" @submit.prevent="createQuestion(inputQuestionObject)">
    <label>
      Question title
      <input type="text" class="mb-10" v-model="inputQuestionObject.title" required>
    </label>
    <label>
      Answer
      <input type="text" class="mb-10" v-model="inputQuestionObject.rightAnswer" required>
    </label>
    <div class="button-wrapper">
      <button type="submit" class="btn btn-primary">Save Question</button>
    </div>
  </form>
  <form v-show="questionType === 'select-question'" class="mt-15 questions-wrapper" @submit.prevent="createQuestion(selectQuestionObject)">
    <label>
      Question title
      <input type="text" v-model="selectQuestionObject.title" required>
    </label>
    <button type="button" class="btn btn-primary" @click="addQuestion(selectQuestionObject)">Add answer</button>
    <ul>
      <li v-for="item in selectQuestionObject.answers" :key="item.id">
        <label>
          Answer title
          <input type="text" v-model="item.title" required>
        </label>
        <button type="button" class="btn btn-cancel" @click="deleteAnswer(item.id, selectQuestionObject)">Delete answer</button>
      </li>
    </ul>
    <div v-if="showSelectRadio" class="answers-grid">
      <h3>Select rigth answer</h3>
      <div v-for="item in selectQuestionObject.answers" :key="item.id">
        <RadioButton :label="(item.title)" :value="item.id" v-model="selectQuestionObject.rightAnswer" />
      </div>
    </div>
    <div class="button-wrapper">
      <button type="submit" class="btn btn-primary">Save Question</button>
    </div>
  </form>
  <form v-show="questionType === 'multiple-question'" class="mt-15 questions-wrapper" @submit.prevent="createQuestion(mulipleQuestionObject)">
    <label>
      Question title
      <input type="text" v-model="mulipleQuestionObject.title" required>
    </label>
    <button type="button" class="btn btn-primary" @click="addQuestion(mulipleQuestionObject)">Add answer</button>
    <ul>
      <li v-for="item in mulipleQuestionObject.answers" :key="item.id">
        <label>
          Answer title
          <input type="text" v-model="item.title" required>
        </label>
        <button type="button" class="btn btn-cancel" @click="deleteAnswer(item.id, mulipleQuestionObject)">Delete answer</button>
      </li>
    </ul>
    <div v-if="showSelectMuliple" class="answers-grid">
      <h3>Select rigth answers</h3>
      <div v-for="item in mulipleQuestionObject.answers" :key="item.id">
        <CheckBox :label="(item.title)" :value="item.id" v-model="mulipleQuestionObject.rightAnswer" />
      </div>
    </div>
    <div class="button-wrapper">
      <button type="submit" class="btn btn-primary">Save Question</button>
    </div>
  </form>
</template>

<script>
import DropdownComponent from "@/components/DropdownComponent/DropdownComponent.vue";
import RadioButton from "@/components/RadioButton/RadioButton.vue";
import CheckBox from "@/components/CheckboxButton/CheckboxButton.vue";
import { mapActions } from 'vuex';

export default {
  name: 'QuestionEditView',
  components: {
    DropdownComponent,
    RadioButton,
    CheckBox,
  },
  data() {
    return {
      currentTest: {},
      questionType: null,
      inputQuestionObject: {
        type: 'input-question',
        title: '',
        rightAnswer: '',
      },
      selectQuestionObject: {
        type: 'select-question',
        answers: [],
        title: '',
        rightAnswer: '',
      },
      mulipleQuestionObject: {
        type: 'multiple-question',
        title: '',
        answers: [],
        rightAnswer: [],
      },
      items: [
        {
          name: 'Input question',
          value: 'input-question',
        },
        {
          name: 'Select question',
          value: 'select-question',
        },
        {
          name: 'Muliple Select question',
          value: 'multiple-question',
        },
      ],
    }
  },
  methods: {
    ...mapActions(['updateTest']),
    deleteAnswer(id, object) {
      object.answers.splice(
        object.answers.findIndex((item) => item.id === id),
        1,
      );
    },
    createQuestion(questionObject) {
      if (Object.keys(questionObject).includes('answers')) {
        if (questionObject?.answers.length < 3) {
          alert('Add At least 3 answers!!!');
          return;
        }
      }
      if (Array.isArray(questionObject.rightAnswer)) {
        if (questionObject.rightAnswer.length < 2) {
          alert('Select at least 2 answer!!!');
          return;
        }
      } else if (!questionObject.rightAnswer) {
        alert('Select or write answer!!!');
          return;
      }
      const newQuestion = {
        id: this.currentTest.id,
        ...questionObject,
      }
      this.updateTest(newQuestion);
      this.$router.push({ name: 'TestQuestions' });
    },
    uid() {
      const a = new Uint32Array(3);
      window.crypto.getRandomValues(a);
      return (performance.now().toString(36)+Array.from(a).map(A => A.toString(36)).join("")).replace(/\./g,"");
    },
    addQuestion(item) {
      const newAnswer = {
        id: this.uid(),
        title: ''
      };
      item.answers.push(newAnswer);
    },
    setupData() {
      const { questionId } = this.$route.params;
      this.currentTest = this.$store.getters.getTest(questionId);
      this.questionType = this.currentTest.type;
      if (this.questionType === 'input-question') {
        Object.keys(this.inputQuestionObject).forEach((key) => {
          this.inputQuestionObject[key] = this.currentTest[key];
        });
      } else if (this.questionType === 'select-question') {
        Object.keys(this.selectQuestionObject).forEach((key) => {
          console.log(key);
          this.selectQuestionObject[key] = this.currentTest[key];
        });
      } else if (this.questionType === 'multiple-question') {
        Object.keys(this.mulipleQuestionObject).forEach((key) => {
          this.mulipleQuestionObject[key] = this.currentTest[key];
        });
      }
    }
  },
  watch: {
    questionType(newValue, oldValue) {
      if (oldValue !== null) {
        if (this[oldValue]) {
          Object.keys(this[oldValue]).forEach((key) => {
          if (key !== 'type') {
            this[oldValue][key] = Array.isArray(this[oldValue][key]) ? [] : ''; 
          }
        }); 
        }
      }
    }
  },
  computed: {
    showSelectRadio() {
      return this.selectQuestionObject.answers.every((item) => item.title !== '') && this.selectQuestionObject.answers.length > 0;
    },
    showSelectMuliple() {
      return this.mulipleQuestionObject.answers.every((item) => item.title !== '') && this.mulipleQuestionObject.answers.length > 0;
    }
  },
  mounted() {
    this.setupData();
    this['input-question'] = this.inputQuestionObject;
    this['select-question'] = this.selectQuestionObject;
    this['multiple-question'] = this.mulipleQuestionObject;
  }
}
</script>
