<template>
  <h2>Registration Form</h2>
  <form class="form-grid" @submit.prevent="userRegister">
    <label class="form-grid__item">
      Name
      <input type="text" v-model="registrationObject.name" required placeholder="Jhon Doe">
    </label>
    <label class="form-grid__item">
      Phone
      <input type="text" minlength="12" maxlength="12" v-model="registrationObject.phone" required placeholder="99890000000" @input="setPlus">
    </label>
    <label class="form-grid__item">
      Passort
      <input type="text" minlength="9" maxlength="9" v-model="registrationObject.passort" required placeholder="AA000000">
    </label>
    <label class="form-grid__item">
      PINFL
      <input type="text" minlength="14" maxlength="14" v-model="registrationObject.pinfl" required placeholder="23123123123123">
    </label>
    <label class="form-grid__item">
      Birthday Date
      <input type="text" minlength="10" maxlength="10" :value="tempDate" required @input="dateInput" placeholder="DD-MM-YYYY">
    </label>
    <label class="form-grid__item">
      Course Number
      <dropdown-component
        :items="items"
        v-model="registrationObject.course"
      />
    </label>
    <label class="form-grid__item">
      Password
      <input type="password" ref="password" minlength="8" v-model="registrationObject.password" required placeholder="Password">
      <CheckBox label="Show password" v-model="showPassword" @change="toggleShow(showPassword, 'password')" />
    </label>
    <label class="form-grid__item">
      Password repeat
      <input type="password" ref="repeatePassword" minlength="8" v-model="registrationObject.passwordConfirm" required placeholder="Password repeat">
      <CheckBox label="Show password" v-model="showPasswordRepeate" @change="toggleShow(showPasswordRepeate, 'repeatePassword')" />
    </label>
    <div class="form-grid__buttons">
      <button type="button" class="btn btn-primary" @click="$router.push({ name: 'Login' })">Go Login Page</button>
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
</template>

<script>
import DropdownComponent from "@/components/DropdownComponent/DropdownComponent.vue";
import CheckBox from "@/components/CheckboxButton/CheckboxButton.vue";

import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'RegistrationView',
  components: {
    DropdownComponent,
    CheckBox,
  },
  data() {
    return {
      tempDate: '',
      showPassword: false,
      showPasswordRepeate: false,
      registrationObject: {
        birthday: '',
        name: '',
        phone: '',
        passort: '',
        pinfl: '',
        password: '',
        passwordConfirm: '',
        course: '',
        userType: 'student',
      },
      items: [
        {
          name: '1',
          value: '1',
        },
        {
          name: '2',
          value: '2',
        },
        {
          name: '3',
          value: '3',
        },
        {
          name: '4',
          value: '4',
        },
      ],
    };
  },
  methods: {
    ...mapActions(['addNewUser', 'userLogin']),
    toggleShow(value, currentRef) {
      if (value) {
        this.$refs[currentRef].type = 'text';
      } else {
        this.$refs[currentRef].type = 'password';
      }
    },
    dateInput(event) {
      let trimmed = event.currentTarget.value.replace(/\s+/g, '');
        if (trimmed.length > 10) {
          trimmed = trimmed.substr(0, 10);
        }
        trimmed = trimmed.replace(/-/g, '');

        const numbers = [];
        numbers.push(trimmed.substr(0, 2));
        if (trimmed.substr(2, 2) !== '') numbers.push(trimmed.substr(2, 2));
        if (trimmed.substr(4, 4) !== '') numbers.push(trimmed.substr(4, 4));
        this.tempDate = numbers.join('-');
    },
    dateIsValid(date) {
      return date instanceof Date && !isNaN(date);
    },
    userRegister() {
      if (!this.isFormFilled) {
        alert("Please fill the form!!!");
        return;
      }
      if(!this.isTheSamePassword) {
        alert("Passwords not the same!!!");
        return;
      }
      const samePinfl = this.getUsers.some((user) => {
        return user.pinfl === this.registrationObject.pinfl || user.passort === this.registrationObject.passort; 
      });
      if(samePinfl) {
        alert("PINFL must be unique!");
        return;
      }
      this.addNewUser(this.registrationObject);
      this.userLogin(this.registrationObject);
      alert('User Registered!');
      this.$router.push({ name: 'Workspace' });
    },
  },
  watch: {
    tempDate(newValue) {
      if (newValue.length >= 10) {
        const [dd, mm, yyyy] = newValue.split('-');
        const isValidDate = this.dateIsValid(new Date(`${yyyy}-${mm}-${dd}`));
        if (isValidDate) {
          this.registrationObject.birthday = newValue;
        }
      }
    }
  },
  computed: {
    ...mapGetters(['getUsers']),
    isFormFilled() {
      return Object.values(this.registrationObject).every((item) => !!item === true);
    },
    isTheSamePassword() {
      return this.registrationObject.password === this.registrationObject.passwordConfirm;
    }
  },
}
</script>

<style lang="scss" scoped>
h2 {
  text-align: center;
}
.form-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 35%);
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    grid-column-start: 3;
    grid-column-end: 1;
  }
}
</style>