<template>
    <h2>{{ correctAnswerCount }}/{{ getTestCount }}</h2>
    <form v-show="currentQuestion.type === 'input-question'" class="mt-15 questions-wrapper" @submit.prevent="checkAnswer">
    <h2>{{ currentQuestion.title }}</h2>
    <label>
      Answer
      <input type="text" class="mb-10" v-model="answer">
    </label>
    <div class="button-wrapper">
      <button type="submit" class="btn btn-primary">Next</button>
    </div>
  </form>
  <form v-show="currentQuestion.type === 'select-question'" class="mt-15 questions-wrapper" @submit.prevent="checkAnswer">
    <h2>{{ currentQuestion.title }}</h2>
    <div class="answers-grid">
      <div v-for="item in currentQuestion.answers" :key="item.id">
        <RadioButton :label="(item.title)" :value="item.id" v-model="answer" />
      </div>
    </div>
    <div class="button-wrapper">
      <button type="submit" class="btn btn-primary">Next</button>
    </div>
  </form>
  <form v-show="currentQuestion.type === 'multiple-question'" class="mt-15 questions-wrapper" @submit.prevent="checkAnswer">
    <h2>{{ currentQuestion.title }}</h2>
    <div class="answers-grid">
      <div v-for="item in currentQuestion.answers" :key="item.id">
        <CheckBox :label="(item.title)" :value="item.id" v-model="answer" />
      </div>
    </div>
    <div class="button-wrapper">
      <button type="submit" class="btn btn-primary">Next</button>
    </div>
  </form>
</template>

<script>
import RadioButton from "@/components/RadioButton/RadioButton.vue";
import CheckBox from "@/components/CheckboxButton/CheckboxButton.vue";
import { mapGetters } from "vuex";

export default {
  name: 'SurverView',
  components: {
    RadioButton,
    CheckBox,
  },
  data() {
    return {
      answer: null,
      currentTest: {},
      currentQuestionIndex: +localStorage.getItem('currentQuestionIndex') || 0,
      correctAnswerCount: +localStorage.getItem('correctAnswerCount') || 0,
      currentQuestion: {},
    };
  },
  methods: {
    checkAnswer() {
      const sortArray = (a, b) => {
      if (a > b) {
          return -1;
      }
      if (b > a) {
          return 1;
      }
      return 0;
    }
      if (this.answer === null) {
        alert('Answer pleasure!');
        return;
      }
      if (Array.isArray(this.currentQuestion.rightAnswer)) {
        if (this.currentQuestion.rightAnswer.sort(sortArray).toString() === this.answer.sort(sortArray).toString()) {
          this.correctAnswerCount += 1;
          localStorage.setItem('correctAnswerCount', this.correctAnswerCount);
          if (this.currentQuestionIndex === (this.getTestCount - 1)) {
            this.$router.push({ name: 'FinishSurvey' });
            return;
          }
          this.currentQuestionIndex += 1;
          localStorage.setItem('currentQuestionIndex', this.currentQuestionIndex);
        } else {
          if (this.currentQuestionIndex === (this.getTestCount - 1)) {
            this.$router.push({ name: 'FinishSurvey' });
            return;
          }
          this.currentQuestionIndex += 1;
          localStorage.setItem('currentQuestionIndex', this.currentQuestionIndex);
        }
      } else {
        if (this.answer.toString().toLowerCase() === this.currentQuestion.rightAnswer.toString().toLowerCase()) {
          this.correctAnswerCount += 1;
          localStorage.setItem('correctAnswerCount', this.correctAnswerCount);
          if (this.currentQuestionIndex === (this.getTestCount - 1)) {
            this.$router.push({ name: 'FinishSurvey' });
            return;
          }
          this.currentQuestionIndex += 1;
          localStorage.setItem('currentQuestionIndex', this.currentQuestionIndex);
        } else {
          if (this.currentQuestionIndex === (this.getTestCount - 1)) {
            this.$router.push({ name: 'FinishSurvey' });
            return;
          }
          this.currentQuestionIndex += 1;
          localStorage.setItem('currentQuestionIndex', this.currentQuestionIndex);
        }
      }
      this.setQuestion();
    },
    setQuestion() {
      this.currentQuestion = this.currentTest[this.currentQuestionIndex];
      if (Array.isArray(this.currentQuestion.answers)) {
        this.answer = [];
      } else {
        this.answer = null;
      }
    },
  },
  computed: {
    ...mapGetters(['getTestCount']),
  },
  mounted() {
    this.currentTest = this.$store.getters.getTestList;
    this.setQuestion();
  },
}
</script>

<style scoped>
h2 {
  text-align: center;
}
</style>