<template>
  <div class="button-wrapper mb-10">
    <button type="button" class="btn btn-primary" @click="goQuestionCreate">
      Create new Question
    </button>
  </div>
  <div class="questions-list">
    <div class="questions-list__item" v-for="item in getTestList" :key="item.id">
      <h4>{{item.title}}</h4>
      <div class="questions-list__buttons mb">
        <button type="button" class="btn btn-edit" @click.stop="editQuestion(item.id)">Edit</button>
        <button type="button" class="btn btn-cancel" @click.stop="deleteQuestion(item)">Delete</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'TestQuestions',
  data() {
    return {
      currentQuestion: {}
    }
  },
  methods: {
    ...mapActions(['removeFromList']),
    goQuestionCreate() {
      this.$router.push({ name: 'QuestionCreate' });
    },
    editQuestion(questionId) {
      this.$router.push({ name: 'QuestionEdit', params: { questionId }});
    },
    deleteQuestion(item) {
      const confirmed = confirm('Are You Sure to Delete this question?');
      if (confirmed) {
        this.removeFromList(item)
      }
    }
  },
  computed: {
    ...mapGetters(['getTestList']),
  },
  mounted() {
  }
}
</script>

<style lang="scss" scoped>
.questions-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 25px;
  &__item {
    background-color: #6497B1;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
</style>