<template>
  <label class="select mb-10">
    Select course number to filter data
    <dropdown-component
      :items="items"
      v-model="currentCourse"
    />
  </label>
  <table class="user-table">
    <thead>
      <tr>
        <th>
          <div class="header-item">
            Name
            <div class="icon-wrapper"><svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M6 36h12v-4h-12v4zm0-24v4h36v-4h-36zm0 14h24v-4h-24v4z"/><path d="M0 0h48v48h-48z" fill="none"/></svg></div>
          </div>
        </th>
        <th>
          <div class="header-item">
          Phone
          <div class="icon-wrapper"><svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M6 36h12v-4h-12v4zm0-24v4h36v-4h-36zm0 14h24v-4h-24v4z"/><path d="M0 0h48v48h-48z" fill="none"/></svg></div>
          </div>
        </th>
        <th>
          <div class="header-item">
          Passort
          <div class="icon-wrapper"><svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M6 36h12v-4h-12v4zm0-24v4h36v-4h-36zm0 14h24v-4h-24v4z"/><path d="M0 0h48v48h-48z" fill="none"/></svg></div>
            </div>
        </th>
        <th>
          <div class="header-item">
          PINFL
          <div class="icon-wrapper"><svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M6 36h12v-4h-12v4zm0-24v4h36v-4h-36zm0 14h24v-4h-24v4z"/><path d="M0 0h48v48h-48z" fill="none"/></svg></div>
          </div>
        </th>
        <th>
          <div class="header-item">
          Birthday Date
          <div class="icon-wrapper"><svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M6 36h12v-4h-12v4zm0-24v4h36v-4h-36zm0 14h24v-4h-24v4z"/><path d="M0 0h48v48h-48z" fill="none"/></svg></div>
          </div>
        </th>
        <th>
          <div class="header-item">
          Course Number
          <div class="icon-wrapper"><svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M6 36h12v-4h-12v4zm0-24v4h36v-4h-36zm0 14h24v-4h-24v4z"/><path d="M0 0h48v48h-48z" fill="none"/></svg></div>
          </div>
        </th>
        <th>
          <div class="header-item">
          Actions
          <div class="icon-wrapper"><svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M6 36h12v-4h-12v4zm0-24v4h36v-4h-36zm0 14h24v-4h-24v4z"/><path d="M0 0h48v48h-48z" fill="none"/></svg></div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="user in userTable" :key="user.pinfl">
        <td>{{ user.name }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.passort }}</td>
        <td>{{ user.pinfl }}</td>
        <td>{{ user.birthday }}</td>
        <td>{{ user.course }}</td>
        <td>
          <div class="buttons">
            <button type="button" class="btn btn-edit" @click.stop="editUser(user.pinfl)">Edit</button>
            <button type="button" class="btn btn-cancel" @click.stop="deleteCurrentUser(user)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import DropdownComponent from "@/components/DropdownComponent/DropdownComponent.vue";
import { mapActions } from "vuex";

export default {
  name: 'UsersTableView',
  components: {
    DropdownComponent,
  },
  data() {
    return {
      userTable: [],
      currentCourse: null,
      items: [
        {
          name: 'All',
          value: null,
        },
        {
          name: '1 course',
          value: '1',
        },
        {
          name: '2 course',
          value: '2',
        },
        {
          name: '3 course',
          value: '3',
        },
        {
          name: '4 course',
          value: '4',
        },
      ],
    };
  },
  methods: {
    ...mapActions(['deleteUser']),
    editUser(pinfl) {
      this.$router.push({ name: 'UserEdit', params: { pinfl } });
    },
    deleteCurrentUser(user) {
      const confirmed = confirm('Are You Sure to Delete this user?');
      if (confirmed) {
        this.deleteUser(user);
      }
    },
  },
  watch: {
    currentCourse(newValue) {
      this.userTable = this.$store.getters.getSortedUsers(newValue);
    },
  },
  mounted() {
    this.userTable = this.$store.getters.getSortedUsers(null);
  }
}
</script>

<style lang="scss" scoped>
.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.select {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.header-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  .icon-wrapper {
    width: 16px;
    height: 16px;
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
table, th, td {
  border-collapse: collapse;
}
.user-table {
  width: 100%;
  thead {
    tr {
      th {
        text-align: center;
        border-bottom: 1px solid #ccc;
      }
    }
  }
  tbody {
    &::before {
      display: block;
      content: '';
      height: 10px;
    }
    tr {
      td {
        border-collapse: collapse;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }
    }
  }
}
</style>