<template>
  <NavigationBar />
  <router-view />
</template>

<script>
import NavigationBar from "@/components/NavigationBar/NavigationBar.vue"
export default {
  name: 'WorkspaceView',
  components: {
    NavigationBar,
  } 
}
</script>

<style>

</style>