<template>
  <header class="nav-bar">
    <ul>
      <li><router-link v-if="user.userType === 'admin'" :to="{ name: 'TestQuestions' }">Tests List</router-link></li>
      <li><a @click="goPassTest">Pass test</a></li>
      <li><router-link :to="{ name: 'UsersTable' }">See students list</router-link></li>
      <li><a @click="logout">Logout</a></li>
    </ul>
  </header>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'NavigationBar',
  methods: {
    logout() {
      const confirmed = confirm('Logout?');
      if (confirmed) {
        localStorage.removeItem('isLoggedIn');
        localStorage.removeItem('user');
        location.reload();
      }
    },
    goPassTest(){
      if (this.getTestCount < 10) {
        alert('Not Enough Questions!!! Create at least 10 questions as admin!!!');
        return;
      }
      this.$router.push({ name: 'SurverView' });
    }
  },
  computed: {
    ...mapGetters([
      'user',
      'getTestCount'
    ]),
  }
}
</script>

<style lang="scss" scoped>
.nav-bar {
  padding: 10px;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    li {
      a {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
</style>