<template>
  <div class="container">
    <router-view />
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'App',
  methods: {
    ...mapActions(['addNewUser']),
  },
  mounted() {
    if (localStorage.getItem('usersList') === null) {
      const adminUser = {
        birthday: '11-11-2022',
        name: 'Admin',
        phone: '990909765555',
        passort: 'AA000000',
        pinfl: '231241213213123',
        password: 'admin',
        passwordConfirm: 'admin',
        course: '4',
        userType: 'admin',
      };
      this.addNewUser(adminUser);
    }
  }
}
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;

}

input {
  height: 40px;
  border: 0.5px solid #DAE0E4;
  border-radius: 5px;
  padding: 5px 20px;
}

.container {
  width: 1350px;
  margin: 0 auto;
  min-height: 100vh;
}

.mb {
  &-10 {
    margin-bottom: 10px;
  }
}

.mt {
  &-15 {
    margin-top: 15px;
  }
}

.router-link-active {
  color: #000;
  border-bottom: 1px solid #ccc;
}

.btn {
  padding: 14px 20px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 4px;
  &-primary {
    background-color: #0071BC;
  }
  &-cancel {
    background-color: #E20025;
  }
  &-edit {
    background-color: #ECB939;
  }
}
.test-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  &__item {
    background-color: #6497B1
;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
  }
}


.answers-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 50%);
  row-gap: 15px;
  h3 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.questions-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  label {
    display: flex;
    flex-direction: column;
    gap: 5px;

    input {
      height: 40px;
    }
  }

  ul {
    li {
      display: flex;
      align-items: flex-end;
      gap: 15px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      label {
        width: 50%;
      }
    }
  }

  button[type="button"] {
    width: 15%;
  }
}
</style>
